<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="LogFilePath" value="..\..\..\EpamTasksDirectories\Loggs.txt"/>
      <add key="DirectoriesInspectPathDir1" value="..\..\..\EpamTasksDirectories\Dir1"/>
      <add key="DirectoriesInspectPathDir2" value="..\..\..\EpamTasksDirectories\Dir2"/>
      <add key="DuplicatesStr" value="Duplicates: "/>
      <add key="UniquesStr" value="Uniques: "/>
      <add key="Ti,eFormatStr" value="{0:00}:{1:00}:{2:00}.{3:000}"/>
      <add key="DirectoriesInspectExcelPath" value ="..\..\..\EpamTasksDirectories\DirectoriesInspectOutput.xlsx"/>
      <add key="ExcelTableName" value ="Files"/>
      <add key="ExceptionTask4Str" value="Task4----------------------------------------------"/>
      <add key="ExceptionTask5Str" value="Task5----------------------------------------------"/>
      <add key="ExeptionTasksStr" value="ExeptionTasks"/>
      <add key="FilesTask1Str" value ="\nTask 1  ----------------------------------------------"/>
      <add key="FilesTask2Str" value="Task 2  ----------------------------------------------"/>
      <add key="FilesTasksStr" value="FilesTasks"/>
      <add key="DirectoryForVisualize" value="..\..\..\EpamTasksDirectories\Dir1"/>
      <add key="DirectoryForTxtSearch" value="..\..\..\EpamTasksDirectories\Dir2"/>
      <add key="ReflectionTask1Str" value="Task 1  ----------------------------------------------"/>
      <add key="ReflectionTasksStr" value="ReflectionTasks"/>
      <add key="AssemblyLoadFromPath" value="..\..\..\FilesTasks\bin\Debug\FilesTasks.dll"/>
      <add key="SerializationBinaryPath" value="..\..\..\EpamTasksDirectories\Serialization\cars.bin"/>
      <add key="SerializationXmlPath" value="..\..\..\EpamTasksDirectories\Serialization\cars.xml"/>
      <add key="SerializationJsonPath" value="..\..\..\EpamTasksDirectories\Serialization\cars.json"/>
      <add key="StructsTask1Str" value="Task 1  ----------------------------------------------"/>
      <add key="StructsTask2Str" value="Task 2  ----------------------------------------------"/>
      <add key="StructsTask3Str" value="Task 3  ----------------------------------------------"/>
      <add key="StructsTask4Str" value="Task 4  ----------------------------------------------"/>
      <add key="StructsTask5Str" value="Task 5  ----------------------------------------------"/>
      <add key="InputNumberStr" value="input number of month_"/>
      <add key="StructsTasksStr" value="StructsAndEnumTasks "/>
    </appSettings>
</configuration>
